/* ---------- variables ---------- */

:root {
  --spacing_sm: 0.5rem; /* spacing_sm */
  --spacing_df: 1rem; /* spacing_df */
  --spacing_md: 1.5rem; /* spacing_md */
  --spacing_lg: 2rem; /* spacing_lg */
  --spacing_xl: 3.5rem; /* spacing_xl */
  --spacing_xxl: 6rem; /* spacing_xxl */

  --background: #efdebd; /* back */

  --f_high: #452422; /* f_high */
  --f_med: #904f20; /* f_med */
  --f_low: #c19c81; /* f_low */
  --f_inv: #221915; /* f_inv */

  --b_high: #000000; /* b_high */
  --b_med: #716156; /* b_med */
  --b_low: #352b26; /* b_low */
  --b_inv: #9b3313; /* b_inv */
    
  --frame_op: 0.8;
}

* {
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background: url("../img/background.gif");
    background-blend-mode: multiply;
    font-family: 'Minipax';
    background-size: cover;
    font-size:18px;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
    color:var(--f_med);
    background-color:var(--background);
    margin:0;
}

body {
    padding: 0 7vw;
    margin-top: var(--spacing_xl);
    margin-bottom: var(--spacing_xl);
    overflow-x: hidden;
}

main, footer {
    padding-top:0;
}

.list-page, .single-page, .page-sidebar{
    width:100%;
    display: flex;
    flex-direction: column-reverse;
}

.list-page article, .single-page article {
    width:100%;
}

.flow > * + * {
    margin-top: var(--spacing_md);
}

.grid-2 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr;
}

.grid-3 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr;
}

.grid-4 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr 1fr;
}


.grid-5 {
    width:100%;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr;
}

.grid-6 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:repeat(3, 1fr);
}

.grid-1-2 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns: 1fr;
}

.tags {
    font-size:0.8em;
    line-height: 1rem;
    font-style:italic;
    padding-left:0;
}

aside {
    font-size: 0.8rem;
    line-height: var(--spacing_default);
    min-width:200px;
    padding-top:var(--spacing_lg);
}

.breadcrumbs {
    list-style: none;
    font-size: 0.6rem;
}

.breadcrumbs li {
    display:inline-block;
    margin-right:0.4rem;
}

.breadcrumbs li:after {
    content: ">";
    padding-left:0.3rem;
}

.breadcrumbs li:last-child:after {
    display: none;
}

/* ---------- inspo: https://www.altaplana.be/en/start ---------- */
/* 
TODO:
- add fil d'ariane
- finish structure style
- style list page
- style single page
*/


/* ---------- fonts ---------- */

@font-face {
    font-family: 'CAT Hohenzollern';
    src: url('CATHohenzollern.woff2') format('woff2'),
        url('CATHohenzollern.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Bold.woff2') format('woff2'),
        url('Minipax-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-SemiBold.woff2') format('woff2'),
        url('Minipax-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Medium.woff2') format('woff2'),
        url('Minipax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Regular.woff2') format('woff2'),
        url('Minipax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ---------- text ---------- */

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin:0;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--f_high);
}

h2 {
    font-size:2.3rem;
    line-height:3rem;
    font-family: 'CAT Hohenzollern';
    margin:0;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    color: var(--f_high);
}

h3 {
    margin:0;
    color: var(--f_high);
}

.accent-font {
    font-family: 'CAT Hohenzollern';
    font-size:1.5em;
}

small {
    font-size:0.8em;
    line-height:1.2em;
}

p {
    margin:32px 0;
}

a {
    color:inherit;
    font-weight: bold;
}

a.button {
    border: 2px solid;
    padding:4px 8px;
}

a.button:hover {
    border:2px solid;
    background: #a1ae73;
}

hr {
    border:0;
    background: var(--f_low);
    height:2px;
}

.main {
    color: var(--f_med);
}

.accent {
    color: var(--f_high);
}

.subdued {
    color: var(--f_low);
}


/* ---------- structure ---------- */

.large-wrapper {
    max-width:1000px;
    margin: 0 auto;
    padding: 0 24px;
    text-align:center;
    position: relative;
}

.center-column {
    max-width:500px;
    margin: 0 auto;
    padding: 0 24px;
}

.align-center {
    text-align: center;
}

.spacer {
    height:80px;
    width:100%;
}

.row {
    display:flex;
    margin-left: -8px;
    margin-right: -8px;
}

.small-margin-bottom {
    margin-bottom: var(--spacing_sm);
}

.small-margin-top {
    margin-top: var(--spacing_sm);
}

.medium-margin-top {
    margin-top: var(--spacing_md);
}

.medium-margin-bottom {
    margin-bottom: var(--spacing_md);
}

.large-margin-top {
    margin-top: var(--spacing_lg);
}

.large-margin-bottom {
    margin-bottom: var(--spacing_lg);
}

.xlarge-margin-top {
    margin-top: var(--spacing_xl);
}

.xlarge-margin-bottom {
    margin-bottom: var(--spacing_xl);
}

.small-padding-left {
    padding-left: var(--spacing_sm);
}

.small-padding-right {
    padding-right: var(--spacing_sm);
}

/* ---------- frames ---------- */

.right-frame {
    width:250px;
    position:absolute;
    right:-190px;
    top:0;
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
}

.left-frame {
     width:250px;
    position:absolute;
    left:-190px;
    top:0;
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
}

.corners {
    background-image: url("../img/corners.gif");
    mix-blend-mode: multiply;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    pointer-events: none;
    opacity:var(--frame_op);
}

.spear {
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
    text-align: center;
}

.spear img {
    max-width:800px;
}

/* ---------- forms ---------- */

input {
    font-family: 'Minipax';
}

input[type=email] {
    border: 2px solid var(--f_med);
    background: none;
    padding: 4px;
}

input[type=submit] {
    font-weight: bold;
    border: 2px solid;
    color:inherit;
    padding:4px 8px;
    background: none;
    cursor:pointer;
}

input[type=submit]:hover {
    border:2px inset;
    background: var(--f_high);
}

.hero-img {
    mix-blend-mode: multiply;
    max-width:900px;
    margin-top:-60px;
    margin-bottom:-50px;
    margin-left:auto;
    margin-right:auto;
}


.newsletter {
    border: 4px double var(--f_low);
    padding: 24px;
    text-align:center;
}

.team {
    display:flex;
    flex-direction: row;
   justify-content: center;
}

.person {
    display:flex;
    flex-direction: row;
    margin-bottom:48px;
}

.person.left {
    text-align: left;
    margin-right:-12px;
}

.person.right {
    text-align: right;
    margin-left:-12px;
}

.portrait-wrapper {
    min-width: 128px;
    height: 128px;
    border-radius: 50%;
    border:2px solid;
    text-align:center;
    line-height:132px;
    padding:0px;
}

.person img {
    border-radius: 50%;
    min-width:120px;
    height:120px;
    border:4px solid var(--background);
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
    max-width:250px;
    text-align: center;
    margin:0 auto;
}

img {
    max-width:100%;
}

.details {
    line-height: 1em;
    margin-top:16px;
}

.volume-1 {
    margin-top:-120px;
}

.page-preview {
    min-width:33%;
}

footer a {
    margin: 0 4px;
}


.hidden {
    display:none;
}

/* -------- DESKTOP --------- */

@media screen and (min-width: 600px) {
    html {
        font-size:18px;
    }
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .recipe-grid {
        display:grid;
    }
    .list-page {
        display:grid;
    }
    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .columns {
        column-count: 3;
    }
    .list-page, .single-page, .page-sidebar {
        display:grid;
        grid-gap: 5vw;
        grid-template-columns: 200px 1fr;
    }
    .row {
        flex-direction: row;
    }
    .bio {
        display:grid;
    }
    aside {
        display:block;
        padding-top:0;
    }
    aside .name {
        display:flex;
    }
    .menu {
        display:flex;
        margin-bottom:0;
    }
    .menu ul {
        display:flex;
        gap: var(--spacing_default);
        margin-top:0;
    }
    .menu a {
        line-height: 1rem;
    }
    .menu .dingbat-wrapper {
        display:block;
    }
    .snipcart-checkout {
        position:relative!important;
    }
    .notes-grid {
        columns: 2;
        column-gap: var(--spacing_default);
    }
    .gallery-grid {
        columns: 3;
        column-gap: var(--spacing_default);
    }
    .gallery-grid.highlight-first .card:first-child {
        column-span: all;
    }
    .table-of-contents {
        columns:2;
    }
    h1 {
        font-size:3rem;
        line-height: 3rem;
        margin-bottom: var(--spacing_md);
    }
    h2 {
        font-size:2rem;
        line-height: 2rem;
        margin-bottom: var(--spacing_xm);
    }
    footer {
        flex-direction: row;
    }
    footer .dingbats {
        display:block;
    }
    .phases {
        display:block;
    }
    .sidebar .icon {
        display:block;
    }
    .desktop {  
        display:block;
    }
    .mobile {
        display:none;
    }
    main, footer {
        padding-top: var(--spacing_lg);
    }
    #home-img {
        height: 24rem;
    }
    #home-img img {
        height:100%;
    }
    .image-link {
        position: absolute;
    }
    .flow > * + * {
        margin-top: var(--spacing_lg);
    }
    .table-of-contents.mini p {
        line-height: 1rem;
    }
    .table-of-contents.mini a {
        margin-right: var(--spacing_default);
        position: relative;
    }
    .table-of-contents.mini a:after {
        content: "•";
        position: absolute;
        right: -0.8rem;
    }
    .table-of-contents.mini a:last-child:after {
        content: "";
    }
    .banner, .banner.pious-rot {
        background-size: 75%;
        background-position: right -25% bottom 45%;
    }
    .banner.pious-rot .content {
        min-height:12rem;
    }
    #folklore-img {
        display:block;
    }
    footer {
        padding:0 calc(200px + 5vw);
    }
}

