/* TODO:

- [] add all north writing
- [] add a way to access content from home page

- [x] mobile styling
- [x] add storybook font
- [x] add gaelic font
- [x] update previews home page
- [x] add image to hr
- [x] fix footer
- [x] highlight current page menu
- [x] open current section in menu
- [x] shorter page names in menu
- [x] fix list pages
- [x] move creation date at bottom
- [x] order pages
- [x] add sidebar on pages

*/

/* ---------- variables ---------- */

:root {
    --spacing_sm: 0.5rem; /* spacing_sm */
    --spacing_df: 1rem; /* spacing_df */
    --spacing_md: 1.5rem; /* spacing_md */
    --spacing_lg: 2rem; /* spacing_lg */
    --spacing_xl: 3.5rem; /* spacing_xl */
    --spacing_xxl: 6rem; /* spacing_xxl */

    --background: #fff; /* back */

    --f_high: #000; /* f_high */
    --f_med: #8b5743; /* f_med */
    --f_low: #c19c81; /* f_low */
    --f_inv: #efdebd; /* f_inv */

    --b_high: #000000; /* b_high */
    --b_med: #efdebd; /* b_med */
    --b_low: #352b26; /* b_low */
    --b_inv: #9b3313; /* b_inv */

    --frame_op: 0.8;
}

* {
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background: url("../img/background.gif");
    background-blend-mode: multiply;
    font-family: 'Minipax';
    background-size: cover;
    font-size:18px;
    line-height: 1.5rem;
    text-rendering: optimizeLegibility;
    color:var(--f_high);
    background-color:var(--background);
    margin:0;
}

body {
    padding: 0 7vw;
    margin-top: var(--spacing_md);
    margin-bottom: var(--spacing_xl);
    overflow-x: hidden;
}

.home {
    background-color: var(--b_med);
}

main, footer {
    padding-top:0;
}

.list-page, .single-page, .page-sidebar{
    width:100%;
    display: flex;
    flex-direction: column-reverse;
}

.list-page article, .single-page article {
    width:100%;
}

.flow > * + * {
    margin-top: var(--spacing_md);
}

.grid-2 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr;
}

.grid-3 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr;
}

.grid-4 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr 1fr;
}


.grid-5 {
    width:100%;
    grid-gap: var(--spacing_default);
    grid-template-columns:1fr;
}

.grid-6 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns:repeat(3, 1fr);
}

.grid-1-2 {
    width:100%;
    display:grid;
    grid-gap: var(--spacing_default);
    grid-template-columns: 1fr;
}

.tags {
    font-size:0.8em;
    line-height: 1rem;
    font-style:italic;
    padding-left:0;
}

aside {
    line-height: var(--spacing_default);
    min-width:250px;
    padding-top:var(--spacing_lg);
}

aside h3 {
    margin-top:0;
}

.side-menu {
    list-style:none;
}

.side-menu ul {
    list-style:none;
}

.side-menu a {
    font-weight: normal;
    color: var(--f_high);
}

.side-menu a.current {
    font-weight: bold;
}

.side-menu ul ul li a {
    color: var(--f_med);
    margin-left:var(--spacing_md);
}

.flavor {
    color:var(--f_med);
    margin: var(--spacing_lg) 0;
}

.flavor p {
    margin: var(--spacing_df) 0;
}

.flavor:before {
    content: "";
    display:block;
    background: url('/img/separator.jpg');
    height:14px;
    max-width:300px;
    max-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    background-position: center;
}

.flavor:after {
    content: "";
    display:block;
    position:relative;
    bottom:-4px;
    background: url('/img/separator.jpg');
    height:14px;
    max-width:300px;
    max-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    background-position: center;
}

.breadcrumbs {
    list-style: none;
    font-size: 0.8rem;
}

.breadcrumbs li {
    display:inline-block;
    margin-right:0.4rem;
}

.breadcrumbs li:after {
    content: ">";
    padding-left:0.3rem;
}

.breadcrumbs li:last-child:after {
    display: none;
}

/* ---------- inspo: https://www.altaplana.be/en/start ---------- */
/* 
TODO:
- add fil d'ariane
- finish structure style
- style list page
- style single page
*/


/* ---------- fonts ---------- */

@font-face {
    font-family: 'CAT Hohenzollern';
    src: url('CATHohenzollern.woff2') format('woff2'),
        url('CATHohenzollern.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Bold.woff2') format('woff2'),
        url('Minipax-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-SemiBold.woff2') format('woff2'),
        url('Minipax-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Medium.woff2') format('woff2'),
        url('Minipax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Regular.woff2') format('woff2'),
        url('Minipax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Storybook';
    src: url('Storybook.woff2') format('woff2'),
        url('Storybook.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fiorchlo GC';
    src: url('FiorchloGC.woff2') format('woff2'),
        url('FiorchloGC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ---------- text ---------- */

h1 {
    font-size: 2.3rem;
    line-height: 2.3rem;
    margin:0;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: var(--f_high);
    font-family: "storybook";
}

h2 {
    font-size:2rem;
    line-height:2rem;
    font-family: 'CAT Hohenzollern';
    margin:0;
    margin-bottom: var(--spacing_df);
    margin-top: var(--spacing_df);
    color: var(--f_high);
}

h3 {
    margin:0;
    color: var(--f_med);
    margin-top: var(--spacing_df);
    margin-bottom: var(--spacing_df);
}

.subtitle {
    margin-bottom: -2rem;
    color: var(--f_med);
    text-transform: uppercase;
    font-family: 'Fiorchlo GC';
}

.accent-font {
    font-family: 'CAT Hohenzollern';
    font-size:1.5em;
}

small {
    font-size:0.8em;
    line-height:1.2em;
}

time {
    font-style:italic;
    color:var(--f_med);
}

p {
    margin:32px 0;
}

a {
    color:var(--f_med);
    font-weight: bold;
}

a:hover {
    border-bottom: 2px solid;
}

a.button {
    border: 2px solid;
    padding:4px 8px;
}

a.button:hover {
    border:2px solid;
    background: #a1ae73;
}

hr {
    border:0;
    background: url('/img/separator.jpg');
    height:14px;
    max-width:300px;
    max-width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    background-position: center;
}

.center hr {
    margin:0 auto;
}

.main {
    color: var(--f_high);
}

.accent {
    color: var(--f_med);
}

.subdued {
    color: var(--f_low);
}

.black {
    color: var(--f_high);
}

.gael {
    font-family: 'Fiorchlo GC';
    text-transform: uppercase;
    font-weight: normal;
}


/* ---------- structure ---------- */

.large-wrapper {
    max-width:1000px;
    margin: 0 auto;
    text-align:center;
    position: relative;
}

.center-column {
    max-width:500px;
    margin: 0 auto;
    padding: 0 24px;
}

.align-center {
    text-align: center;
}

.spacer {
    height:2rem;
    width:100%;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.small-margin-bottom {
    margin-bottom: var(--spacing_sm);
}

.small-margin-top {
    margin-top: var(--spacing_sm);
}

.medium-margin-top {
    margin-top: var(--spacing_md);
}

.medium-margin-bottom {
    margin-bottom: var(--spacing_md);
}

.large-margin-top {
    margin-top: var(--spacing_lg);
}

.large-margin-bottom {
    margin-bottom: var(--spacing_lg);
}

.xlarge-margin-top {
    margin-top: var(--spacing_xl);
}

.xlarge-margin-bottom {
    margin-bottom: var(--spacing_xl);
}

.small-padding-left {
    padding-left: var(--spacing_sm);
}

.small-padding-right {
    padding-right: var(--spacing_sm);
}

/* ---------- frames ---------- */

.right-frame {
    width:250px;
    position:absolute;
    right:-190px;
    top:0;
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
    display:none;
}

.left-frame {
    width:250px;
    position:absolute;
    left:-190px;
    top:0;
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
    display:none;
}

.corners {
    background-image: url("../img/corners.gif");
    mix-blend-mode: multiply;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    pointer-events: none;
    opacity:var(--frame_op);
}

.spear {
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
    text-align: center;
    display:none;

}

.spear img {
    max-width:800px;
}

/* ---------- forms ---------- */

input {
    font-family: 'Minipax';
}

input[type=email] {
    border: 2px solid var(--f_med);
    background: none;
    padding: 4px;
}

input[type=submit] {
    font-weight: bold;
    border: 2px solid;
    color:inherit;
    padding:4px 8px;
    background: none;
    cursor:pointer;
}

input[type=submit]:hover {
    border:2px inset;
    background: var(--f_high);
}

.hero-img {
    mix-blend-mode: multiply;
    max-width:900px;
    margin-bottom:-50px;
    margin-left:auto;
    margin-right:auto;
}

.newsletter {
    border: 4px double var(--f_low);
    padding: 24px;
    text-align:center;
}

.team {
    flex-direction: row;
    justify-content: center;
}

.person {
    display:flex;
    flex-direction: row;
    margin-bottom:48px;
}

.person.left {
    text-align: left;
}

.person.right {
    text-align: right;
}

.portrait-wrapper {
    min-width: 128px;
    height: 128px;
    border-radius: 50%;
    border:2px solid;
    text-align:center;
    line-height:132px;
    padding:3px;
}

.person img {
    border-radius: 50%;
    min-width:118px;
    height:118px;
}

.video {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.video::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    max-width:150px;
    text-align: center;
    margin:0 auto;
}

img {
    max-width:100%;
}

.details {
    line-height: 1em;
    margin-top:16px;
}

.page-preview {
    min-width:33%;
}

.cover, .insert {
    mix-blend-mode: multiply;
}

footer a {
    margin: 0 4px;
}

.hidden {
    display:none;
}

/* -------- TABLES --------- */

table {
    border-collapse: collapse;
}

thead {

}

tbody {

}

td, th {
    border-bottom:1px solid;
    border-right:1px solid;
    text-align:left;
    padding: var(--spacing_sm);
}

td:last-child, th:last-child {
    border-right:0;
}

/* -------- DESKTOP --------- */

@media screen and (min-width: 600px) {
    html {
        font-size:18px;
    }
    body {
        margin-top:var(--spacing_xl);
        margin-bottom:var(--spacing_xl);
    }
    .grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    .grid-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .recipe-grid {
        display:grid;
    }
    .logo {
        max-width:250px;
    }
    .list-page {
        display:grid;
    }
    .grid-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .columns {
        column-count: 3;
    }
    .page-content {
        max-width:50vw;
    }
    .list-page, .single-page, .page-sidebar {
        display:grid;
        grid-gap: 5vw;
        grid-template-columns: 200px 1fr;
    }
    .row {
        flex-direction: row;
    }
    .bio {
        display:grid;
    }
    aside {
        display:block;
        padding-top:0;
    }
    aside .name {
        display:flex;
    }
    .menu {
        display:flex;
        margin-bottom:0;
    }
    .menu ul {
        display:flex;
        gap: var(--spacing_default);
        margin-top:0;
    }
    .menu a {
        line-height: 1rem;
    }
    .menu .dingbat-wrapper {
        display:block;
    }
    .snipcart-checkout {
        position:relative!important;
    }
    .notes-grid {
        columns: 2;
        column-gap: var(--spacing_default);
    }
    .gallery-grid {
        columns: 3;
        column-gap: var(--spacing_default);
    }
    .gallery-grid.highlight-first .card:first-child {
        column-span: all;
    }
    .table-of-contents {
        columns:2;
    }
    h1 {
        font-size:3rem;
        line-height: 3rem;
        margin-bottom: var(--spacing_md);
    }
    h2 {
        font-size:2.5rem;
        line-height: 2rem;
        margin-bottom: var(--spacing_md);
    }
    h3 {
        margin-bottom: var(--spacing_md);
    }
    footer {
        flex-direction: row;
    }
    footer .dingbats {
        display:block;
    }
    .phases {
        display:block;
    }
    .sidebar .icon {
        display:block;
    }
    .desktop {  
        display:block;
    }
    .mobile {
        display:none;
    }
    main, footer {
        padding-top: var(--spacing_xl);
    }
    #home-img {
        height: 24rem;
    }
    #home-img img {
        height:100%;
    }
    .image-link {
        position: absolute;
    }
    .flow > * + * {
        margin-top: var(--spacing_lg);
    }
    .table-of-contents.mini p {
        line-height: 1rem;
    }
    .table-of-contents.mini a {
        margin-right: var(--spacing_default);
        position: relative;
    }
    .table-of-contents.mini a:after {
        content: "•";
        position: absolute;
        right: -0.8rem;
    }
    .table-of-contents.mini a:last-child:after {
        content: "";
    }
    .insert {
        max-width:300px;
    }
    .banner, .banner.pious-rot {
        background-size: 75%;
        background-position: right -25% bottom 45%;
    }
    .banner.pious-rot .content {
        min-height:12rem;
    }
    #folklore-img {
        display:block;
    }
    footer {
        padding:0 calc(200px + 5vw);
    }
    .hero-img {
        margin-top:-60px;
    }
    .row {
        display:flex;
    }
    .large-wrapper {
        padding: 0 24px;
    }
    .spear {
        display:block;
    }
    .spacer {
        height:10rem;
    }
    .breadcrumbs {
        font-size:0.6rem;
    }
    .team {
        display:flex;
    }
    .person.left {
        margin-right:-12px;
    }

    .person.right {
        margin-left:-12px;
    }
    .left-frame, .right-frame {
        display:block;
    }
}

