/* ---------- variables ---------- */

:root {
  --spacing_sm: 8px; /* spacing_sm */
  --spacing_md: 16px; /* spacing_md */
  --spacing_lg: 24px; /* spacing_lg */
  --spacing_xl: 48px; /* spacing_xl */

  --background: #efdebd; /* back */

  --f_high: #452422; /* f_high */
  --f_med: #904f20; /* f_med */
  --f_low: #c19c81; /* f_low */
  --f_inv: #221915; /* f_inv */

  --b_high: #000000; /* b_high */
  --b_med: #716156; /* b_med */
  --b_low: #352b26; /* b_low */
  --b_inv: #9b3313; /* b_inv */
    
  --frame_op: 0.8;
}

html {
    background: url("../img/background.gif");
    background-blend-mode: multiply;
    font-family: 'Minipax';
    background-size: cover;
    font-size:18px;
    line-height:1.5em;
    color:var(--f_med);
    background-color:var(--background);
    padding: 32px 0;
}

body {
    padding:0;
    margin:0;
}

/* ---------- fonts ---------- */

@font-face {
    font-family: 'CAT Hohenzollern';
    src: url('CATHohenzollern.woff2') format('woff2'),
        url('CATHohenzollern.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Bold.woff2') format('woff2'),
        url('Minipax-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-SemiBold.woff2') format('woff2'),
        url('Minipax-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Medium.woff2') format('woff2'),
        url('Minipax-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minipax';
    src: url('Minipax-Regular.woff2') format('woff2'),
        url('Minipax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ---------- text ---------- */

h1 {
    font-size: 3.5rem;
    margin:0;
    color: var(--f_high);
}

h2 {
    font-size:2.3rem;
    line-height:1em;
    font-family: 'CAT Hohenzollern';
    margin:0;
    color: var(--f_high);
}

h3 {
    margin:0;
    color: var(--f_high);
}

.accent-font {
    font-family: 'CAT Hohenzollern';
    font-size:1.5em;
}

small {
    font-size:0.8em;
    line-height:1.2em;
}

p {
    margin:32px 0;
}

a {
    color:inherit;
    font-weight: bold;
}

a.button {
    border: 2px solid;
    padding:4px 8px;
}

a.button:hover {
    border:2px solid;
    background: #a1ae73;
}

hr {
    border:0;
    background: var(--f_low);
    height:2px;
}

.main {
    color: var(--f_med);
}

.accent {
    color: var(--f_high);
}

.subdued {
    color: var(--f_low);
}


/* ---------- structure ---------- */

.large-wrapper {
    max-width:1000px;
    margin: 0 auto;
    padding: 0 24px;
    text-align:center;
    position: relative;
}

.center-column {
    max-width:500px;
    margin: 0 auto;
    padding: 0 24px;
}

.align-center {
    text-align: center;
}

.spacer {
    height:80px;
    width:100%;
}

.row {
    display:flex;
    margin-left: -8px;
    margin-right: -8px;
}

.small-margin-bottom {
    margin-bottom: var(--spacing_sm);
}

.small-margin-top {
    margin-top: var(--spacing_sm);
}

.medium-margin-top {
    margin-top: var(--spacing_md);
}

.medium-margin-bottom {
    margin-bottom: var(--spacing_md);
}

.large-margin-top {
    margin-top: var(--spacing_lg);
}

.large-margin-bottom {
    margin-bottom: var(--spacing_lg);
}

.xlarge-margin-top {
    margin-top: var(--spacing_xl);
}

.xlarge-margin-bottom {
    margin-bottom: var(--spacing_xl);
}

.small-padding-left {
    padding-left: var(--spacing_sm);
}

.small-padding-right {
    padding-right: var(--spacing_sm);
}

/* ---------- frames ---------- */

.right-frame {
    width:250px;
    position:absolute;
    right:-190px;
    top:0;
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
}

.left-frame {
     width:250px;
    position:absolute;
    left:-190px;
    top:0;
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
}

.corners {
    background-image: url("../img/corners.gif");
    mix-blend-mode: multiply;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    pointer-events: none;
    opacity:var(--frame_op);
}

.spear {
    mix-blend-mode: multiply;
    opacity:var(--frame_op);
    text-align: center;
}

.spear img {
    max-width:800px;
}

/* ---------- forms ---------- */

input {
    font-family: 'Minipax';
}

input[type=email] {
    border: 2px solid var(--f_med);
    background: none;
    padding: 4px;
}

input[type=submit] {
    font-weight: bold;
    border: 2px solid;
    color:inherit;
    padding:4px 8px;
    background: none;
    cursor:pointer;
}

input[type=submit]:hover {
    border:2px inset;
    background: var(--f_high);
}

.hero-img {
    mix-blend-mode: multiply;
    max-width:900px;
    margin-top:-60px;
    margin-bottom:-50px;
    margin-left:auto;
    margin-right:auto;
}


.newsletter {
    border: 4px double var(--f_low);
    padding: 24px;
    text-align:center;
}

.team {
    display:flex;
    flex-direction: row;
   justify-content: center;
}

.person {
    display:flex;
    flex-direction: row;
    margin-bottom:48px;
}

.person.left {
    text-align: left;
    margin-right:-12px;
}

.person.right {
    text-align: right;
    margin-left:-12px;
}

.portrait-wrapper {
    min-width: 128px;
    height: 128px;
    border-radius: 50%;
    border:2px solid;
    text-align:center;
    line-height:132px;
    padding:0px;
}

.person img {
    border-radius: 50%;
    min-width:120px;
    height:120px;
    border:4px solid var(--background);
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
    max-width:250px;
    text-align: center;
    margin:0 auto;
}

img {
    max-width:100%;
}

.details {
    line-height: 1em;
    margin-top:16px;
}

.volume-1 {
    margin-top:-120px;
}

.page-preview {
    min-width:33%;
}

footer a {
    margin: 0 4px;
}


.hidden {
    display:none;
}

