<footer>
    <div class="footer-newsletter">
        <div class="center"><hr/></div>
        <div class="align-center large-margin-bottom large-margin-top">
            <form
                  action="https://buttondown.email/api/emails/embed-subscribe/piousrot"
                  method="post"
                  target="popupwindow"
                  onsubmit="window.open('https://buttondown.email/piousrot', 'popupwindow')"
                  class="embeddable-buttondown-form"
                  >
                <label for="bd-email" class="gael">Join the newsletter:</label>
                <input type="email" name="email" id="bd-email" placeholder="email address" />
                <input type="submit" value="Subscribe" /> 
            </form>
        </div>
    </div>
    <div class="socials center-column align-center">
        <div class="center"><hr/></div>
        <a href="https://www.patreon.com/ritualdust/">Patreon</a>
        <a href="https://www.instagram.com/piousrotrpg/">Instagram</a>
        <a href="mailto:piousrot@gmail.com">Contact</a>
    </div>
</footer>
</html>