{{ $currentSection := (index (split .Path "/") 1)}}
{{ $currentPage := .Page }}
<aside>
    <div class="gael accent medium-margin-bottom">Table of contents</div>
    <ul class="side-menu">
        <li><a class="gael" href="/">Home</a></li>
        {{ range .Site.Sections }}
        <li><a class="{{ if eq $currentPage . }}current{{ end }} gael" href="{{ .Permalink }}">{{ .Params.subtitle }}</a></li>
        {{ $parentPage := .Page }}
        <ul>
            {{ range .Pages }}
            {{ if ne .Page $parentPage }}
            {{ if .IsSection }}
            <li>
                <details {{ if eq $currentSection .Page.Slug }}open{{ end }}>
                    <summary>
                        <a class="{{ if eq $currentPage . }}current{{ end }}" href="{{ .Permalink }}">{{ .Params.subtitle }}</a>
                    </summary>
                    {{ $parent := .Page }}
                    <ul>
                        {{ range .RegularPages }}
                        <li>
                            <a class="{{ if eq $currentPage . }}current{{ end }}" href="{{ .Permalink }}">{{ .Params.subtitle }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </details>
            </li>
            {{ else }}
            <li class="indent">
                <a class="{{ if eq $currentPage . }}current{{ end }}" href="{{ .Permalink }}">{{ .Params.subtitle }}</a>
            </li>
            {{ end }}
            {{ end }}
            {{ end }}
        </ul>
        {{ end }}
    </ul>
</aside>